[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com//archibate/dotfiles-tmux
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com//archibate/dotfiles-nvim
[submodule ".config/fish"]
	path = .config/fish
	url = https://github.com//archibate/dotfiles-fish
[submodule ".config/opencode"]
	path = .config/opencode
	url = https://github.com//archibate/dotfiles-opencode
